[req]
prompt = no
req_extensions = v3_req
distinguished_name = dn

[dn]
C = RU
ST = Moscow
L = Moscow
O = vericheveo
OU = vericheveo P1_3
CN = vericheveo OCSP Responder
emailAddress = vericheveo@example.com

[v3_req]
basicConstraints = critical,CA:FALSE
keyUsage = critical,digitalSignature
extendedKeyUsage = OCSPSigning