[req]
prompt = no
req_extensions = v3_req
distinguished_name = dn

[dn]
C = RU
ST = Moscow
L = Moscow
O = vericheveo
OU = vericheveo P1_2
CN = vericheveo CRL Revoked
emailAddress = vericheveo@example.com

[v3_req]
basicConstraints = critical,CA:FALSE
keyUsage = critical,digitalSignature
extendedKeyUsage = critical,serverAuth,clientAuth
subjectAltName = @alt_names
crlDistributionPoints = URI:http://crl.vericheveo.ru:8080/vericheveo-mstpr251.crl

[alt_names]
DNS.1 = crl.revoked.vericheveo.ru